[submodule "blog/themes/hugo-pacman-theme"]
	path = blog/themes/hugo-pacman-theme
	url = git@github.com:shamaoxiaogui/myhugotheme.git
[submodule "blog/public"]
	path = blog/public
	url = git@github.com:shamaoxiaogui/shamaoxiaogui.github.io.git
